<app-lang-switcher></app-lang-switcher>
<br><br>

<app-date-formatter></app-date-formatter>
<br><br>

<div class="section">
    <div class="section__container">
        <h2 class="section__caption font-head-20">Карточки товаров</h2>
        <div class="section__body">
            <div *ngIf="productsService.productsResponse$ | async as response" class="section__cards">
                <ng-container *ngIf="response.body as products">
                    <ng-container *ngIf="products.length === 0">
                        <span>Список продуктов пуст</span>
                    </ng-container>
                    <ng-container *ngIf="products.length > 0">
                        <app-product *ngFor="let product of products" [product]="product"></app-product>
                    </ng-container>
                </ng-container>
                <div *ngIf="response.loading" class="section__card">
                    <div class="loader"></div>
                </div>
                <div *ngIf="response.hasError">{{ response.errorMsg }}</div>
            </div>
        </div>
    </div>
</div>