.notes {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
}

.note {
    padding: 8px;
    border: 1px solid var(--gray-200);

    // .note__caption

    &__caption {
    }

    // .note__content

    &__content {
    }
}