// Стили типографии (начертания, размера и типа шрифта)

.font-label {
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.font-caption {
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.font-basic {
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.font-basic-16 {
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.font-head-14 {
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.font-head-16 {
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.font-head-18 {
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.font-head-20 {
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}